<footer class="footer bg-dark text-light py-3 mt-auto">
    <div class="container" style="display: flex; justify-content: space-between">
        <span>&copy YelpCamp 2023</span>
        <div>
            <a href="https://github.com/Spycrab-db/yelp-camp">
                <img src="/imgs/github-mark-white.png" alt="GitHub Logo"width="30px">
            </a>
        </div>
    </div>
</footer>