<% layout('layouts/boilerplate') %>
    <h1>Edit <%= campground.title %>
    </h1>
    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" name="campground[title]" id="title" value="<%= campground.title %>" placeholder="Title">
            <label for="location">Location</label>
            <input type="text" name="campground[location]" id="location" value="<%= campground.location %>"
                placeholder="Location">
        </div>
        <button>Edit Campground</button>
    </form>
    <hr>
    <a href="/campgrounds">Cancel</a>